<div>
  <div class="title">
    <h1>Vacinas Cadastradas</h1>
  </div>

  <div class="allAppointmentsTable">
    <p-table #table [value]="vaccines" [tableStyle]="{'min-width': '80rem'}">
      <ng-template pTemplate="caption">
        <div class="captionHeader">
          Vacinas:
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr class="tableRow">
          <th>Nome</th>
          <th>Descricao</th>
          <th>Doses</th>
          <th>Periodicidade</th>
          <th style="width: 5%">Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-vaccine>
        <tr class="tableRow">
          <td class="firstCell">{{vaccine.titulo}}</td>
          <td>{{vaccine.descricao ? vaccine.descricao : '-'}}</td>
          <td>{{vaccine.doses}}</td>
          <td>{{vaccine.intervalo + ' ' + vaccine.periodicidade}}</td>
          <td>
            <div class="iconsCell">
              <app-delete-btn [id]="vaccine.id" [service]="service" [funcaoListar]="listarVacinas"></app-delete-btn>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
