<div class="container">
  <div class="login-container">
    <app-logo></app-logo>

    <form [formGroup]="loginFormGroup" class="login-form">
      <div class="login-field">
        <fa-icon class="user-icon" [icon]="faUser"></fa-icon>
        <input type="email" formControlName="email" placeholder="Email">
      </div>

      <div class="login-field">
        <fa-icon [icon]="faLock"></fa-icon>
        <input type="password" formControlName="password" placeholder="Password">
      </div>

      <app-primary-btn label="ENTRAR" (click)="doLogin()"></app-primary-btn>
    </form>
  </div>
</div>
