<div class="login-container">
  <div>
    <img class="icon" src="assets/vacine_icon.svg" alt="Vacine Icon">
    <span class="icon-title">Vacine</span>
  </div>
  <div>
    <p class="icon-subtitle">O seu gerenciador de vacinas!</p>
  </div>

  <form>
    <div class="login-field">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email">
    </div>

    <div class="login-field">
      <label for="password">Senha</label>
      <input type="password" name="password" id="password">
    </div>

    <button class="button-submit" type="submit">ENTRAR</button>
  </form>
</div>
