*
  text-align: center

.login-container
  width: 30%
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)


.icon
  fill: #B01368
  stroke-width: 1px
  stroke: #000

.icon-title, .icon-subtitle
  font-style: normal
  font-weight: 300
  line-height: 1
  margin: 0

.icon-title
  color: #FFF
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  font-size: 96px


.icon-subtitle
  color: #AFAFAF
  font-size: 24px

form
  margin: 80px 0

.login-field label
  color: #FFF
  font-size: 18px
  font-style: normal
  font-weight: 300
  line-height: normal

.login-field input
  background: #383838

.login-field
  margin: 10px 0
  display: flex
  flex-direction: column
  align-items: center

.button-submit
  margin-top: 80px
  background: #B01368
  color: #FFF

.button-submit, .login-field input
  outline: none
  border: none
  width: 75%
  height: 71px
  border-radius: 5px
