<div class="container">
  <div class="nextAppoitmentTable">
    <p-table [value]="nextAppointment" [tableStyle]="{'min-width': '80rem'}"  styleClass="p-datatable-gridlines">
      <ng-template pTemplate="caption">
        <div>
          Seu Próximo Compromisso:
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr class="tableRow">
          <th *ngFor="let coluna of displayedColumns">{{ coluna }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-appointment>
        <tr class="tableRow">
          <td class="firstCell">{{appointment.data | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{appointment.vacina.titulo}}</td>
          <td>{{appointment.situacao}}</td>
          <td>{{appointment.vacina.doses}}</td>
          <td>
            <a class="searchIcon" (click)="openInfoModal(appointment)">
              <fa-icon [icon]="faSearch"></fa-icon>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="allAppointmentsTable">
    <p-table [value]="allAppointments" [tableStyle]="{'min-width': '80rem'}">
      <ng-template pTemplate="caption">
        <div class="captionHeader">
          Histórico:
          <a class="linkHistorico" (click)="verHistoricoCompleto()">Ver Histórico Completo</a>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr class="tableRow">
          <th *ngFor="let coluna of displayedColumns">{{ coluna }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-appointment>
        <tr class="tableRow">
          <td class="firstCell">{{appointment.data | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{appointment.vacina.titulo}}</td>
          <td>{{appointment.situacao}}</td>
          <td>{{appointment.vacina.doses}}</td>
          <td>
            <a class="searchIcon" (click)="openInfoModal(appointment)">
              <fa-icon [icon]="faSearch"></fa-icon>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
