<div class="textfield">
  <label [for]="id">{{label}}</label>
  <input *ngIf="!mask" pInputText
         [id]="id"
         [(ngModel)]="model"
         (ngModelChange)="modelChange.emit($event)"
         [placeholder]="placeholder"
         [required]="required"
         [readOnly]="readonly"
         [disabled]="disabled"/>

  <p-inputMask *ngIf="mask"
               [id]="id"
               mask="{{mask}}"
               [(ngModel)]="model"
               (ngModelChange)="modelChange.emit($event)"
               [placeholder]="placeholder"
               [required]="required"
               [readonly]="readonly"
               [disabled]="disabled"/>

</div>
