<div class="profile-container">
  <p-blockUI [blocked]="!loadedUser">
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>


  <div class="title">
    <h2>Perfil</h2>
  </div>

  <form *ngIf="user">
    <div class="row">
      <div class="col col-sm-6">
        <app-text-field id="name" [formGroup]="formGroup" label="Nome:" name="nome"></app-text-field>
      </div>

      <div class="col col-sm-6">
        <app-text-field id="email" [formGroup]="formGroup" label="Email:" name="email"></app-text-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-6">
        <app-date-field id="birth_date" [formGroup]="formGroup" label="Data de Nascimento:" name="dataNascimento"></app-date-field>
      </div>

      <div class="col col-sm-6">
        <app-dropdown-field id="gender" [formGroup]="formGroup" [options]="genders" optionLabel="name" label="Sexo:" name="sexo"></app-dropdown-field>
      </div>
    </div>

    <div class="endereco">
      <h3>Endereço</h3>
    </div>

    <div class="row">
      <div class="col col-sm-12">
        <app-text-field [formGroup]="formGroup" name="logradouro" label="Logradouro:"></app-text-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-6">
        <app-text-field [formGroup]="formGroup" name="numero" label="Número:"></app-text-field>
      </div>

      <div class="col col-sm-6">
        <app-text-field [formGroup]="formGroup" name="setor" label="Setor:"></app-text-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-6">
        <app-text-field [formGroup]="formGroup" name="cidade" label="Cidade:"></app-text-field>
      </div>

      <div class="col col-sm-6">
        <app-text-field [formGroup]="formGroup" name="uf" label="Estado:"></app-text-field>
      </div>
    </div>

    <div class="row btn-editar">
      <div class="col col-sm-3">
        <app-primary-btn label="EDITAR"></app-primary-btn>
      </div>
    </div>
  </form>
</div>
