/* You can add global styles to this file, and also import other style files */
@import "variables"
@import "primeng/resources/themes/lara-light-blue/theme.css"
@import "primeng/resources/primeng.css"

html
  scroll-behavior: smooth

body
  background: $background-color
  height: 100vh
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: $font

